<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>lokal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="lokal은 장르에 구애받지 않는 개인 작업자들이 모여 다양한 방식과 형태의 결과물을 만들어 내는 곳입니다."
  />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="lokal" />
  <meta
    property="og:description"
    content="lokal은 장르에 구애받지 않는 개인 작업자들이 모여 다양한 방식과 형태의 결과물을 만들어 내는 곳입니다."
  />
  <meta
    name="keywords"
    content="lokal,ㅍㅌㅌㅇ,개발자,디자이너,크루,창작자,creator,일하다죽지않을직장찾기,오각형샹송,샹송빵따곤,chanson pentagon"
  />

  <link rel="stylesheet" href="/assets/css/main.css">
</head>
