<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>FTTO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="한국의 언더씬 개발 레이블, 그저 재밌는 것을 만드는 창작 크루"
  />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="FTTO" />
  <meta
    property="og:description"
    content="한국의 언더씬 개발 레이블, 그저 재밌는 것을 만드는 창작 크루"
  />
  <meta
    name="keywords"
    content="ftto,ㅍㅌㅌㅇ,개발자,디자이너,크루,창작자,creator,춘식,아키,더기,찡규,제이,오각형샹송,샹송빵따곤,chanson pentagone"
  />

  <link rel="stylesheet" href="/assets/css/main.css">
</head>
