<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Studio Lokal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="개인들이 모여 자유롭게 작업물을 만들기 위한 레이블입니다. 커뮤니티보다 단단하고, 회사보단 느슨한 그런 공동체를 지향합니다. 만들고 싶은게 생기면 만듭니다. 온라인, 오프라인 가리지 않고 만듭니다."
  />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="studio lokal" />
  <meta
    property="og:description"
    content="개인들이 모여 자유롭게 작업물을 만들기 위한 레이블입니다. 커뮤니티보다 단단하고, 회사보단 느슨한 그런 공동체를 지향합니다. 만들고 싶은게 생기면 만듭니다. 온라인, 오프라인 가리지 않고 만듭니다."
  />
  <meta
    name="keywords"
    content="studio lokal,ㅍㅌㅌㅇ,개발자,디자이너,크루,창작자,creator,춘식,아키,더기,찡규,제이,쏘써니,망나뇽,일하다죽지않을직장찾기,오각형샹송,샹송빵따곤,chanson pentagone"
  />

  <link rel="stylesheet" href="/assets/css/main.css">
</head>
